@font-face {
    font-family: 'Ekstra Regular';
    src: url('fonts/Ekstra-Regular.woff2') format('woff2'),
         url('fonts/Ekstra-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}